{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex gap-3 align-items-center">
    <h1>Add new Question</h1>
</div>
<div class="row">
    <div class="col-8">
        <form>
            <div class="row mb-3">
                <div class="col-2">
                    <h2 class="card-title">
                        Title
                    </h2>
                </div>
                <div class="col form-check p-0">
                    <input
                        class="form-control is-invalid form-control-lg"
                        type="text"
                        placeholder="Max 64 characters"
                        maxlength="64"
                        value="заголовок"
                        required
                    >
                    <div class="invalid-feedback">Use Latin for input</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <h2 class="card-title">
                        Text
                    </h2>
                </div>
                <div class="col p-0">
                    <textarea
                        class="form-control"
                        placeholder="Enter something... (max 1024 characters)"
                        rows="8"
                        no-resize
                        maxlength="1024"
                    ></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <h2 class="card-title">
                        Tags
                    </h2>
                </div>
                <div class="col p-0">
                    <input
                        class="form-control form-control-lg"
                        type="text"
                        placeholder="bender black-jack (max 64 characters)"
                        maxlength="64"
                    >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button class="btn rounded-0 border" type="submit">Create question</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}