{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1>Hot questions</h1>
        <a href="{% url 'index' %}">New Questions</a>
    </div>
    <div class="row">
        <div class="col-8">
            {% for question in questions %}
                {% include 'layouts/question.html' %}
            {% endfor %}

            {% include 'layouts/pagination.html' with page_obj=questions current_page='hot' %}
        </div>
{% endblock content %}