{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-8">
        <form>
            <div class="alert alert-danger" role="alert">
                <p>Sorry, this email address already registred!</p>
                <p>Password must be more than 8 characters</p>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <h4 class="card-title">
                        Login
                    </h4>
                </div>
                <div class="col form-check">
                    <input
                        class="form-control form-control-lg"
                        type="text"
                        value="kermyndak"
                        placeholder="Enter login..."
                        maxlength="64"
                        required
                    >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <h4 class="card-title">
                        Email
                    </h4>
                </div>
                <div class="col form-check">
                    <input
                        class="form-control form-control-lg"
                        type="text"
                        value="kermyndak@bk.ru"
                        placeholder="example@gmail.com"
                        maxlength="64"
                        required
                    >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <h4 class="card-title">
                        NickName
                    </h4>
                </div>
                <div class="col form-check">
                    <input
                        class="form-control form-control-lg"
                        type="text"
                        value="kermyndak"
                        placeholder="nickname..."
                        maxlength="64"
                        required
                    >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <h4 class="card-title">
                        Password
                    </h4>
                </div>
                <div class="col form-check">
                    <input
                        class="form-control form-control-lg"
                        type="password"
                        value="qwerty"
                        placeholder="Enter password..."
                        maxlength="64"
                        required
                    >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <h4 class="card-title">
                        Repeat password
                    </h4>
                </div>
                <div class="col form-check">
                    <input
                        class="form-control form-control-lg"
                        type="password"
                        value="qwerty"
                        placeholder="Repeat password..."
                        maxlength="64"
                        required
                    >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <h4 class="card-title">
                        Upload avatar
                    </h4>
                </div>
                <div class="col form-check">
                    <input class="form-control" type="file">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2 m-2"></div>
                <div class="col p-2">
                    <button class="btn rounded-0 border text-bg-success" type="submit">Sign up</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}